@import "../index.css";

:root {
  --clr-neutral-very-dark: #0d111a;
  --white: white;
  --clr-neutral-green: #7b8e7b;
}
.chat-app {
  width: 100%;
  height: 100vh;
  display: flex;
}
.chat-list {
  width: 30%;
  height: 100%;
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.chat-list__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  color: var(--clr-neutral-green);
}
.chat-list__header h2 {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  text-transform: uppercase;
}
.chat-list__header i {
  font-size: 2.5rem;
  cursor: pointer;
}
